<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Research Applications Laboratory</h3>
                <h1>Computational Hydrometerology</h1>
                <h5>Research to improve the fundamental building blocks on which hydrometeorological analyses</h5>
                <h5>and climate change assessments depend.</h5>				
		<p> &nbsp </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/overview.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
